{% extends "base.html" %}

{% block head %}
<title >Posts</title>
{% endblock %}

{% block body %}
<h1> All posts :</h1>
        <hr>
        <h2>Create New Post :</h2>
        <form action ="/posts" method="post" >
            Title: <input type="text" name="title" id="title" >
            <br>
            Post: <input type="text" name="post" id="post">
            <br>
            Author: <input type="text" name="author" id="author">
            <br>
            <input type="submit" value="Post" >
        </form>
        <hr>

    {% for post in posts  %}
       <div>
        <h2>{{ post.title }}</h2>
        <p>  {{  post.content   }}   </p>

        {%   if post.author   %}
            <H4>By : {{post.author}}</H4>
        {% else %}
            <h4>By : N/A </h4>
        {%endif%}

        <a href="/posts/delete/{{post.id}}">Delete</a>
        <a href="/posts/edit/{{post.id}}">Edit</a>
        <hr>
       </div>
    {% endfor %}
{% endblock %}